body{
	background-color: #EAFAE1;
	font-family: 'Merriweather', serif;
}

h1{
	font-family: 'Playfair Display', serif;
	margin: 5px;
	padding: 5px;
}
p{
	margin: 5px;
	padding: 5px;
}
/* This is blog div */
.blog{
	border: 2px solid #012BFC;
	margin: 10px;
	border-radius: 10px;
	height:300px;
	width: 30%;
	float: left;
	overflow: scroll;
}
.blog:hover{
	background-color:black;
	color: white;
}

/* Blog contents */
.blog-heading{
	background-color: aquamarine;
	position: sticky;
	top:0;
	color: black;
}
.blog-heading:hover{
	color: white;
	Background-color: green;
}
.blog-text:hover{
	color:white;
}

