body{
	background-color: #EAFAE1;
	font-family: 'Merriweather', serif;
}

h1{
	font-family: 'Playfair Display', serif;
	margin: 5px;
	padding: 5px;
}
p{
	margin: 5px;
	padding: 5px;
}
/* Navigation Bar */
.navbar{
	list-style-type:none;
	overflow:hidden;
	margin:0;
	padding:0;
	background-color: #dddddd;
}
li{
	float:left;
}
li a{
	display:block;
	padding:14px 16px;
	text-align:center;
	text-decoration:none;
}
li a:hover:not(.active) {
	background-color:green;
	color:white;
}
.active{
	background-color: green;
	color:white;
}
/* This is blog div */
.blog{
	border: 2px solid #012BFC;
	margin: 10px;
	border-radius: 10px;
	height:300px;
	width: 30%;
	float: left;
	overflow: scroll;
}
.blog:hover{
	background-color:black;
	color: white;
}

/* Blog contents */
.blog-heading{
	background-color: aquamarine;
	position: sticky;
	top:0;
	color: black;
}
.blog-heading:hover{
	color: white;
	Background-color: green;
}
.blog-text:hover{
	color:white;
}
.blog-main-heading{
	background-color: black;
	color:white;
}
