body{
	background-color: #EAFAE1;
	font-family: 'Merriweather', serif;
}
.blog{
	border: 2px solid #012BFC;
	margin: 10px;
	border-radius: 10px;
	height:300px;
	width: 30%;
	float: left;
	overflow: scroll;
}
h1{
	font-family: 'Playfair Display', serif;
	margin: 5px;
	padding: 5px;
}
p{
	margin: 5px;
	padding: 5px;
}